.App{
  font-family: "MultiroundPro";
  font-size: 16px;
}
.modals-wrapper{
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: beige;
  display: none;
  flex-direction: column;
}

.active{
  display: flex;
}

.st0{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st1{stroke:#000000}

.header{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.header > input{
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}
.items-wrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
.items{
  display: inline-flex;
  gap: 30px;
}
.item{
  width: 200px;
}
.item-id{
  width: 40px;
}
.button-add{
  width: 50px;
  height: 30px;
  position: relative;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: darkgoldenrod;
  overflow: hidden;
}
.button-add:before{
  content:'';
  position: absolute;
  top: 0;
  left:-200px;
  width: 60px;
  height: 100%;
  background-color: #fff;
  filter: blur(30px);
  transform: skew(-30deg);
  animation: blick 2s ease forwards infinite;
}
.delete_icon{
  height: 30px;
  width: 30px;
}
.delete_icon:hover .st0, .delete_icon:hover .st1{
  stroke:red;
}
@keyframes blick {
  100%{
      left:calc(100% + 150px);
  }
}